[submodule "libraries/couchbase-lite-android"]
	path = libraries/couchbase-lite-android
	url = https://github.com/couchbase/couchbase-lite-android.git
[submodule "libraries/couchbase-lite-java-listener"]
	path = libraries/couchbase-lite-java-listener
	url = https://github.com/couchbase/couchbase-lite-java-listener.git
[submodule "libraries/couchbase-lite-java-javascript"]
	path = libraries/couchbase-lite-java-javascript
	url = https://github.com/couchbase/couchbase-lite-java-javascript.git
[submodule "libraries/couchbase-lite-java-core"]
	path = libraries/couchbase-lite-java-core
	url = https://github.com/couchbase/couchbase-lite-java-core.git
[submodule "libraries/couchbase-lite-java-forestdb"]
	path = libraries/couchbase-lite-java-forestdb
	url = https://github.com/couchbaselabs/couchbase-lite-java-forestdb
